.menu-wrapper{
    /* @apply absolute; */
}

.menu-item{
    @apply mt-3 mb-3 p-3;
}

.menu-item.disabled{
    @apply bg-gradient-to-r from-gray-300 to-gray-100;
    @apply text-slate-500; 
    @apply cursor-default;
}

.menu-item.active{
    @apply bg-gradient-to-r from-green-300 to-green-100;
    @apply text-green-600;
    @apply font-bold;
}